[submodule "lib/lightlink"]
	path = lib/lightlink
	url = https://github.com/jinkim31/lightlink.git
[submodule "lib/event_thread"]
	path = lib/event_thread
	url = https://github.com/jinkim31/event_thread.git
[submodule "lib/iconFontCppHeaders"]
	path = lib/iconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "lib/sync"]
	path = lib/sync
	url = https://github.com/jinkim31/sync.git
[submodule "lib/nativefiledialog"]
	path = lib/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
